matplotlib==2.1.1
six==1.11.0
opencv_contrib_python==4.3.0.36
scipy==1.4.1
pytesseract==0.3.4
numpy==1.13.3
tensorflow==1.14.0
Cython==0.29.21
easydict==1.9
ipython==7.17.0
object-detection==0.0.3
Pillow==7.2.0
protobuf==3.12.4
PyYAML==5.3.1
